:host ::ng-deep{
    .app{
        height: 100vh;
        overflow: hidden;
        .appbar{
            background-color: #011627;
        }
        .content{
            width: 45%;
            margin: auto;
        }
    }
}